[submodule "libusb"]
	path = libusb
	url = git@github.com:AlexanderBoone-ttm/libusb.git
[submodule "zlib"]
	path = zlib
	url = git@github.com:AlexanderBoone-ttm/zlib.git
[submodule "bzip2"]
	path = bzip2
	url = git@github.com:AlexanderBoone-ttm/bzip2.git
